@model IEnumerable<OdeToFood.Models.RestaurantListViewModel>

@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Title.</h2>


<form class="form-inline" method="get" action="@Url.Action("Index")"
      data-otf-ajax="true" data-otf-target="#restaurantList">

    <input class="form-control mb-2" type="search" name="searchTerm" />
    <input class="btn btn-info mb-2" type="submit" value="Search by Name" />

</form>

@Html.Partial("_Restaurants", Model)

