body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #333;
    color: #fff;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    color: #333;
}

.review {
    padding: 2px;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

.review h4 {
    color: #fff;
    padding: 5px;
    background: #555;
}

ul.ui-autocomplete {
    background: #fff;
    color: #333;
    list-style: none;
    width: 500px;
    border-radius: 5px;
    border: 1px #555;
    padding: 8px;
    font-size: 1.1em;
}

ul.ui-autocomplete li {
    padding: 2px;
    border: 1px white solid;
    border-radius: 2px;
}

.ui-menu-item:hover {
    background: #aaa;
    border-color: #888;
}

#restaurantList div:last-child hr{
    display: none;
}

.ui-helper-hidden-accessible {
    display: none;
}